html,body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

#main{
	width: 100%;
	height: 100%;
}

#left{
	width: 480px;
	height: 100%;
	float: left;
	padding: 10px;
}

#tools{
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
}

.btn {
    width: 94px;
    height: 41px;
    overflow: hidden;
    display: inline-block;
    background-color: #2fe8d7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#right{
	width:calc(100% - 500px);
	height: 100%;
	float: right;
	background-color: #cdcdcd;
	    position: relative;
}

#list{
	height: calc(100% - 70px);
	border: 1px solid #cdcdcd;
	overflow-y: auto;
}

#list ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#list ul li{
	margin: 0px;
	padding: 2px 6px;
	border-bottom: 1px solid #cdcdcd;
}


#list ul li.active{
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#list ul li:hover{
	background-color: #cdcdcd14;
	cursor: pointer;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#list ul li:nth-child(even){
	background-color: #cdcdcd14;
}

#list ul li .ifc-name{
	width: 220px;
	float: left;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}

#list ul li .ifc-tool{
	/*width: 40px;*/
	float: right;
}

#list ul li .ifc-time{
	float: left;
	width: 120px;
}


#list ul li .ifc-tool button{
	background: none;
	border: none;
	cursor: pointer;
}

#list ul li .ifc-tool button:focus{
	outline: none;
}

ul li .ifc-tool button:hover{
	color: #100101;
	font-weight: bolder;
}
#list ul li .ifc-tool button:disabled{
    /*color: #2a6496;*/
    cursor: not-allowed;
}
.clear{
	clear: both;
}


.popup{
	position: absolute;
	width: 320px;
	left: 488px;
	top: calc(50% - 150px);
	z-index: 101;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border-radius: 4px;
	display: none;
	border-top-left-radius:none;
	color :#767676;
}

.popup .item{
	margin: 4px;
}


.popup span{
	display: inline-block;
}
.popup .info-item{
	width: 50px;
	margin-right: 6px;
	text-align: right;
}

.popup .info-name .info-item{
	text-align: left;
	width: 30px;
	margin: 0 4px;
}

.popup .info-name .info-name{
	width: 40px;
}

.popup .main{
	margin: 14px 0px;
}

.popup .close{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	display: inline-block;
	border-radius: 15px;
	font-size: 30px;
	line-height: 26px;
	color: #3c5870;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

.popup .close:hover{
	color: #cdcdcd;
	box-shadow: 1px 2px #ccc;
}